In [3]:
import datapackage
import pandas as pd
data_url = 'https://datahub.io/machine-learning/hepatitis/datapackage.json'
# to load Data Package into storage
package = datapackage.Package(data_url)
# to load only tabular data
resources = package.resources
for resource in resources:
    if resource.tabular:
        data = pd.read_csv(resource.descriptor['path'])
        print (data)

     age     sex steroid  antivirals fatigue malaise anorexia liver_big  \
0     30    male   False       False   False   False    False     False
1     50  female   False       False    True   False    False     False
2     78  female    True       False    True   False    False      True
3     31  female     NaN        True   False   False    False      True
4     34  female    True       False   False   False    False      True
..   ...     ...     ...         ...     ...     ...      ...       ...
150   46  female    True       False    True    True     True      True
151   44  female    True       False    True   False    False      True
152   61  female   False       False    True    True    False     False
153   53    male   False       False    True   False    False      True
154   43  female    True       False    True   False    False      True

    liver_firm spleen_palpable spiders ascites varices  bilirubin  \
0        False           False   False   False   False        1.0
1        False           False   False   False   False        0.9
2        False           False   False   False   False        0.7
3        False           False   False   False   False        0.7
4        False           False   False   False   False        1.0
..         ...             ...     ...     ...     ...        ...
150      False           False    True    True    True        7.6
151       True           False   False   False   False        0.9
152       True           False    True   False   False        0.8
153      False            True    True   False    True        1.5
154      False            True    True    True   False        1.2

     alk_phosphate   sgot  albumin  protime  histology class
0             85.0   18.0      4.0      NaN      False  live
1            135.0   42.0      3.5      NaN      False  live
2             96.0   32.0      4.0      NaN      False  live
3             46.0   52.0      4.0     80.0      False  live
4              NaN  200.0      4.0      NaN      False  live
..             ...    ...      ...      ...        ...   ...
150            NaN  242.0      3.3     50.0       True   die
151          126.0  142.0      4.3      NaN       True  live
152           75.0   20.0      4.1      NaN       True  live
153           81.0   19.0      4.1     48.0       True  live
154          100.0   19.0      3.1     42.0       True   die

[155 rows x 20 columns]
Empty DataFrame
Columns: [[{"age": 30,  "albumin": 4.0,  "alk_phosphate": 85,  "anorexia": false,  "antivirals": false,  "ascites": false,  "bilirubin": 1.0,  "class": "live",  "fatigue": false,  "histology": false,  "liver_big": false,  "liver_firm": false,  "malaise": false,  "protime": null,  "sex": "male",  "sgot": 18,  "spiders": false,  "spleen_palpable": false,  "steroid": false,  "varices": false}, {"age": 50,  "albumin": 3.5,  "alk_phosphate": 135,  "anorexia": false.1,  "antivirals": false.1,  "ascites": false.1,  "bilirubin": 0.9,  "class": "live".1,  "fatigue": true,  "histology": false.1,  "liver_big": false.1,  "liver_firm": false.1,  "malaise": false.1,  "protime": null.1,  "sex": "female",  "sgot": 42,  "spiders": false.1,  "spleen_palpable": false.1,  "steroid": false.1,  "varices": false}.1, {"age": 78,  "albumin": 4.0.1,  "alk_phosphate": 96,  "anorexia": false.2,  "antivirals": false.2,  "ascites": false.2,  "bilirubin": 0.7,  "class": "live".2,  "fatigue": true.1,  "histology": false.2,  "liver_big": true,  "liver_firm": false.2,  "malaise": false.2,  "protime": null.2,  "sex": "female".1,  "sgot": 32,  "spiders": false.2,  "spleen_palpable": false.2,  "steroid": true,  "varices": false}.2, {"age": 31,  "albumin": 4.0.2,  "alk_phosphate": 46,  "anorexia": false.3,  "antivirals": true,  "ascites": false.3,  "bilirubin": 0.7.1,  "class": "live".3,  "fatigue": false.1,  "histology": false.3,  "liver_big": true.1,  "liver_firm": false.3,  "malaise": false.3,  "protime": 80,  "sex": "female".2,  "sgot": 52,  "spiders": false.3,  "spleen_palpable": false.3,  "steroid": null,  "varices": false}.3, {"age": 34,  "albumin": 4.0.3,  "alk_phosphate": null,  "anorexia": false.4,  "antivirals": false.3,  "ascites": false.4,  "bilirubin": 1.0.1,  "class": "live".4,  "fatigue": false.2,  "histology": false.4,  "liver_big": true.2,  "liver_firm": false.4,  "malaise": false.4,  "protime": null.3,  "sex": "female".3,  "sgot": 200,  "spiders": false.4,  "spleen_palpable": false.4,  "steroid": true.1,  "varices": false}.4, ...]
Index: []

[0 rows x 3100 columns]
     age     sex steroid  antivirals fatigue malaise anorexia liver_big  \
0     30    male   False       False   False   False    False     False
1     50  female   False       False    True   False    False     False
2     78  female    True       False    True   False    False      True
3     31  female     NaN        True   False   False    False      True
4     34  female    True       False   False   False    False      True
..   ...     ...     ...         ...     ...     ...      ...       ...
150   46  female    True       False    True    True     True      True
151   44  female    True       False    True   False    False      True
152   61  female   False       False    True    True    False     False
153   53    male   False       False    True   False    False      True
154   43  female    True       False    True   False    False      True

    liver_firm spleen_palpable spiders ascites varices  bilirubin  \
0        False           False   False   False   False        1.0
1        False           False   False   False   False        0.9
2        False           False   False   False   False        0.7
3        False           False   False   False   False        0.7
4        False           False   False   False   False        1.0
..         ...             ...     ...     ...     ...        ...
150      False           False    True    True    True        7.6
151       True           False   False   False   False        0.9
152       True           False    True   False   False        0.8
153      False            True    True   False    True        1.5
154      False            True    True    True   False        1.2

     alk_phosphate   sgot  albumin  protime  histology class
0             85.0   18.0      4.0      NaN      False  live
1            135.0   42.0      3.5      NaN      False  live
2             96.0   32.0      4.0      NaN      False  live
3             46.0   52.0      4.0     80.0      False  live
4              NaN  200.0      4.0      NaN      False  live
..             ...    ...      ...      ...        ...   ...
150            NaN  242.0      3.3     50.0       True   die
151          126.0  142.0      4.3      NaN       True  live
152           75.0   20.0      4.1      NaN       True  live
153           81.0   19.0      4.1     48.0       True  live
154          100.0   19.0      3.1     42.0       True   die

[155 rows x 20 columns]

In [6]:
data.head()

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,NaN,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,NaN,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,NaN,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.0,52.0,4.0,80.0,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,NaN,200.0,4.0,NaN,False,live

In [9]:
data.isna()

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
3,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
151,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
152,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
153,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
154,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [12]:
data.isna().sum()

age                 0
sex                 0
steroid             1
antivirals          0
fatigue             1
malaise             1
anorexia            1
liver_big          10
liver_firm         11
spleen_palpable     5
spiders             5
ascites             5
varices             5
bilirubin           6
alk_phosphate      29
sgot                4
albumin            16
protime            67
histology           0
class               0
dtype: int64

In [13]:
data.dropna(axis=0)

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
5,34,female,True,False,False,False,False,True,False,False,False,False,False,0.9,95.0,28.0,4.0,75.0,False,live
10,39,female,False,True,False,False,False,False,True,False,False,False,False,1.3,78.0,30.0,4.4,85.0,False,live
11,32,female,True,True,True,False,False,True,True,False,True,False,False,1.0,59.0,249.0,3.7,54.0,False,live
12,41,female,True,True,True,False,False,True,True,False,False,False,False,0.9,81.0,60.0,3.9,52.0,False,live
13,30,female,True,False,True,False,False,True,True,False,False,False,False,2.2,57.0,144.0,4.9,78.0,False,live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,45,female,True,True,False,False,False,True,False,False,False,False,False,1.3,85.0,44.0,4.2,85.0,True,live
143,49,female,False,False,True,True,False,True,False,True,True,False,False,1.4,85.0,70.0,3.5,35.0,True,die
145,31,female,False,False,True,False,False,True,False,False,False,False,False,1.2,75.0,173.0,4.2,54.0,True,live
153,53,male,False,False,True,False,False,True,False,True,True,False,True,1.5,81.0,19.0,4.1,48.0,True,live
154,43,female,True,False,True,False,False,True,False,True,True,True,False,1.2,100.0,19.0,3.1,42.0,True,die

In [17]:
data.dropna(subset=['liver_big'], axis=0, inplace=True)
data

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,NaN,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,NaN,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,NaN,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.0,52.0,4.0,80.0,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,NaN,200.0,4.0,NaN,False,live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,46,female,True,False,True,True,True,True,False,False,True,True,True,7.6,NaN,242.0,3.3,50.0,True,die
151,44,female,True,False,True,False,False,True,True,False,False,False,False,0.9,126.0,142.0,4.3,NaN,True,live
152,61,female,False,False,True,True,False,False,True,False,True,False,False,0.8,75.0,20.0,4.1,NaN,True,live
153,53,male,False,False,True,False,False,True,False,True,True,False,True,1.5,81.0,19.0,4.1,48.0,True,live
154,43,female,True,False,True,False,False,True,False,True,True,True,False,1.2,100.0,19.0,3.1,42.0,True,die

In [20]:
data.dropna(thresh=0.8*len(data),axis=1)

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.0,52.0,4.0,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,NaN,200.0,4.0,False,live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,46,female,True,False,True,True,True,True,False,False,True,True,True,7.6,NaN,242.0,3.3,True,die
151,44,female,True,False,True,False,False,True,True,False,False,False,False,0.9,126.0,142.0,4.3,True,live
152,61,female,False,False,True,True,False,False,True,False,True,False,False,0.8,75.0,20.0,4.1,True,live
153,53,male,False,False,True,False,False,True,False,True,True,False,True,1.5,81.0,19.0,4.1,True,live
154,43,female,True,False,True,False,False,True,False,True,True,True,False,1.2,100.0,19.0,3.1,True,die

In [21]:
data.dtypes

age                  int64
sex                 object
steroid             object
antivirals            bool
fatigue             object
malaise             object
anorexia            object
liver_big           object
liver_firm          object
spleen_palpable     object
spiders             object
ascites             object
varices             object
bilirubin          float64
alk_phosphate      float64
sgot               float64
albumin            float64
protime            float64
histology             bool
class               object
dtype: object

In [23]:
import numpy as np
numeric = data.select_dtypes(include=np.number)
numeric_columns = numeric.columns
numeric_columns

Index(['age', 'bilirubin', 'alk_phosphate', 'sgot', 'albumin', 'protime'], dtype='object')

In [26]:
data[numeric_columns]=data[numeric_columns].fillna(data[numeric_columns].mean())
data[numeric_columns]

     age  bilirubin  alk_phosphate   sgot  albumin    protime
0     30        1.0      85.000000   18.0      4.0  62.383721
1     50        0.9     135.000000   42.0      3.5  62.383721
2     78        0.7      96.000000   32.0      4.0  62.383721
3     31        0.7      46.000000   52.0      4.0  80.000000
4     34        1.0     105.553719  200.0      4.0  62.383721
..   ...        ...            ...    ...      ...        ...
150   46        7.6     105.553719  242.0      3.3  50.000000
151   44        0.9     126.000000  142.0      4.3  62.383721
152   61        0.8      75.000000   20.0      4.1  62.383721
153   53        1.5      81.000000   19.0      4.1  48.000000
154   43        1.2     100.000000   19.0      3.1  42.000000

[145 rows x 6 columns]

In [30]:
boolean_columns=data.select_dtypes(include=object).columns.tolist()
boolean_columns.remove('class')
boolean_columns

['sex',
 'steroid',
 'fatigue',
 'malaise',
 'anorexia',
 'liver_big',
 'liver_firm',
 'spleen_palpable',
 'spiders',
 'ascites',
 'varices']

In [32]:
data[boolean_columns]

,sex,steroid,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices
0,male,False,False,False,False,False,False,False,False,False,False
1,female,False,True,False,False,False,False,False,False,False,False
2,female,True,True,False,False,True,False,False,False,False,False
3,female,NaN,False,False,False,True,False,False,False,False,False
4,female,True,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
150,female,True,True,True,True,True,False,False,True,True,True
151,female,True,True,False,False,True,True,False,False,False,False
152,female,False,True,True,False,False,True,False,True,False,False
153,male,False,True,False,False,True,False,True,True,False,True
154,female,True,True,False,False,True,False,True,True,True,False

In [35]:
data[boolean_columns].fillna(data[boolean_columns].mode().loc[0])

,sex,steroid,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices
0,male,False,False,False,False,False,False,False,False,False,False
1,female,False,True,False,False,False,False,False,False,False,False
2,female,True,True,False,False,True,False,False,False,False,False
3,female,True,False,False,False,True,False,False,False,False,False
4,female,True,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
150,female,True,True,True,True,True,False,False,True,True,True
151,female,True,True,False,False,True,True,False,False,False,False
152,female,False,True,True,False,False,True,False,True,False,False
153,male,False,True,False,False,True,False,True,True,False,True
154,female,True,True,False,False,True,False,True,True,True,False

In [38]:
data.sample(frac=0.2, replace=True, random_state=1)

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
38,42,female,False,False,False,False,False,True,False,False,False,False,False,1.0,85.000000,14.00000,4.000000,100.000000,False,live
150,46,female,True,False,True,True,True,True,False,False,True,True,True,7.6,105.553719,242.00000,3.300000,50.000000,True,die
76,58,female,True,False,True,False,False,False,True,True,True,False,False,2.0,167.000000,242.00000,3.300000,62.383721,False,die
146,41,female,True,False,True,False,False,True,True,True,True,False,True,4.2,65.000000,120.00000,3.400000,62.383721,True,die
142,51,female,True,False,True,False,False,True,True,True,True,False,True,1.0,105.553719,20.00000,3.000000,63.000000,True,live
83,67,male,False,False,True,True,False,True,False,NaN,NaN,NaN,NaN,1.5,179.000000,69.00000,2.900000,62.383721,False,live
154,43,female,True,False,True,False,False,True,False,True,True,True,False,1.2,100.000000,19.00000,3.100000,42.000000,True,die
137,38,female,True,False,False,False,False,True,True,False,True,False,True,1.6,130.000000,140.00000,3.500000,56.000000,True,live
75,32,female,False,True,True,True,False,True,False,False,False,False,False,1.0,55.000000,45.00000,4.100000,56.000000,False,live
143,49,female,False,False,True,True,False,True,False,True,True,False,False,1.4,85.000000,70.00000,3.500000,35.000000,True,die
25,27,female,False,False,True,True,False,True,False,False,False,False,False,0.8,95.000000,46.00000,3.800000,100.000000,False,live
20,22,male,True,True,True,False,False,True,False,False,False,False,False,0.9,48.000000,20.00000,4.200000,64.000000,False,live
107,45,female,False,False,True,True,True,True,False,False,False,False,False,2.3,105.553719,648.00000,3.823485,62.383721,True,live
149,36,female,True,False,False,False,False,True,False,False,False,False,False,0.6,120.000000,30.00000,4.000000,62.383721,True,live
152,61,female,False,False,True,True,False,False,True,False,True,False,False,0.8,75.000000,20.00000,4.100000,62.383721,True,live
52,44,female,True,False,False,False,False,True,False,False,False,False,False,0.6,110.000000,145.00000,4.400000,70.000000,False,live
71,34,female,False,False,True,True,False,False,True,False,True,False,False,2.8,127.000000,182.00000,3.823485,62.383721,False,die
101,22,female,True,False,False,False,False,True,False,False,False,False,False,0.7,105.553719,24.00000,3.823485,62.383721,True,live
90,50,male,False,False,True,False,False,False,True,True,True,False,False,0.9,230.000000,117.00000,3.400000,41.000000,True,live
151,44,female,True,False,True,False,False,True,True,False,False,False,False,0.9,126.000000,142.00000,4.300000,62.383721,True,live
146,41,female,True,False,True,False,False,True,True,True,True,False,True,4.2,65.000000,120.00000,3.400000,62.383721,True,die
7,23,female,True,False,False,False,False,True,False,False,False,False,False,1.0,105.553719,83.41958,3.823485,62.383721,False,live
66,56,female,False,False,False,False,False,True,False,False,False,False,False,0.7,62.000000,33.00000,3.000000,62.383721,False,live
64,49,female,True,False,True,True,False,True,False,False,False,False,False,0.8,103.000000,43.00000,3.500000,66.000000,False,live
22,31,female,True,False,False,False,False,True,False,False,False,False,False,1.0,85.000000,20.00000,4.000000,100.000000,False,live
60,37,female,True,False,False,False,False,True,False,False,False,False,False,0.7,26.000000,58.00000,4.500000,100.000000,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.000000,42.00000,3.500000,62.383721,False,live
136,51,female,True,False,False,False,False,False,True,False,True,False,False,0.8,105.553719,33.00000,4.500000,62.383721,True,live
63,36,female,False,False,False,False,False,False,True,True,False,False,False,0.7,164.000000,44.00000,3.100000,41.000000,False,live

In [41]:
dup_data=pd.concat([data, data.sample(frac=0.2, replace=True, random_state=1)], ignore_index=True)
dup_data

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.000000,18.0,4.0,62.383721,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.000000,42.0,3.5,62.383721,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.000000,32.0,4.0,62.383721,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.000000,52.0,4.0,80.000000,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,105.553719,200.0,4.0,62.383721,False,live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,31,female,True,False,False,False,False,True,False,False,False,False,False,1.0,85.000000,20.0,4.0,100.000000,False,live
170,37,female,True,False,False,False,False,True,False,False,False,False,False,0.7,26.000000,58.0,4.5,100.000000,False,live
171,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.000000,42.0,3.5,62.383721,False,live
172,51,female,True,False,False,False,False,False,True,False,True,False,False,0.8,105.553719,33.0,4.5,62.383721,True,live
173,36,female,False,False,False,False,False,False,True,True,False,False,False,0.7,164.000000,44.0,3.1,41.000000,False,live

In [44]:
dup_data.drop_duplicates(["age", "steroid"], keep="last")

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.700000,96.000000,32.0,4.000000,62.383721,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.700000,46.000000,52.0,4.000000,80.000000,False,live
14,47,female,False,True,False,False,False,True,False,False,False,False,False,1.397872,105.553719,60.0,3.823485,62.383721,False,live
16,66,female,True,False,True,False,False,True,False,False,False,False,False,1.200000,102.000000,53.0,4.300000,62.383721,False,live
24,25,male,False,True,False,False,False,True,False,False,False,False,False,0.400000,45.000000,18.0,4.300000,70.000000,False,live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,31,female,True,False,False,False,False,True,False,False,False,False,False,1.000000,85.000000,20.0,4.000000,100.000000,False,live
170,37,female,True,False,False,False,False,True,False,False,False,False,False,0.700000,26.000000,58.0,4.500000,100.000000,False,live
171,50,female,False,False,True,False,False,False,False,False,False,False,False,0.900000,135.000000,42.0,3.500000,62.383721,False,live
172,51,female,True,False,False,False,False,False,True,False,True,False,False,0.800000,105.553719,33.0,4.500000,62.383721,True,live
173,36,female,False,False,False,False,False,False,True,True,False,False,False,0.700000,164.000000,44.0,3.100000,41.000000,False,live

In [46]:
dup_data.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
169     True
170     True
171     True
172     True
173     True
Length: 174, dtype: bool

In [47]:
dup_data.drop_duplicates()

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.000000,18.0,4.0,62.383721,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.000000,42.0,3.5,62.383721,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.000000,32.0,4.0,62.383721,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.000000,52.0,4.0,80.000000,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,105.553719,200.0,4.0,62.383721,False,live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,46,female,True,False,True,True,True,True,False,False,True,True,True,7.6,105.553719,242.0,3.3,50.000000,True,die
141,44,female,True,False,True,False,False,True,True,False,False,False,False,0.9,126.000000,142.0,4.3,62.383721,True,live
142,61,female,False,False,True,True,False,False,True,False,True,False,False,0.8,75.000000,20.0,4.1,62.383721,True,live
143,53,male,False,False,True,False,False,True,False,True,True,False,True,1.5,81.000000,19.0,4.1,48.000000,True,live
144,43,female,True,False,True,False,False,True,False,True,True,True,False,1.2,100.000000,19.0,3.1,42.000000,True,die

In [50]:
bool_to_char={
    True:"T",
    False:"F",
    np.nan:np.nan
}
dup_data["steroid"].map(lambda x:bool_to_char[x])

0        F
1        F
2        T
3      NaN
4        T
      ...
169      T
170      T
171      F
172      T
173      F
Name: steroid, Length: 174, dtype: object