In [21]:
import pandas as pd
data=pd.read_csv('Glassdoor Gender Pay Gap.csv', index_col=0)
print(data.columns)
print()
print(data.dtypes)

Index(['Gender', 'Age', 'PerfEval', 'Education', 'Dept', 'Seniority',
       'BasePay', 'Bonus'],
      dtype='object')

Gender       object
Age           int64
PerfEval      int64
Education    object
Dept         object
Seniority     int64
BasePay       int64
Bonus         int64
dtype: object

In [13]:
data_short=data[["Age","PerfEval","Seniority", "BasePay","BasePay","Bonus"]]
data_short

                     Age  PerfEval  Seniority  BasePay  BasePay  Bonus
JobTitle
Graphic Designer      18         5          2    42363    42363   9938
Software Engineer     21         5          5   108476   108476  11128
Warehouse Associate   19         4          5    90208    90208   9268
Software Engineer     20         5          4   108080   108080  10154
Graphic Designer      26         5          5    99464    99464   9319
...                  ...       ...        ...      ...      ...    ...
Marketing Associate   61         1          1    62644    62644   3270
Data Scientist        57         1          2   108977   108977   3567
Financial Analyst     48         1          1    92347    92347   2724
Financial Analyst     65         2          1    97376    97376   2225
Financial Analyst     60         1          2   123108   123108   2244

[1000 rows x 6 columns]

In [14]:
data.describe()

               Age     PerfEval    Seniority        BasePay         Bonus
count  1000.000000  1000.000000  1000.000000    1000.000000   1000.000000
mean     41.393000     3.037000     2.971000   94472.653000   6467.161000
std      14.294856     1.423959     1.395029   25337.493272   2004.377365
min      18.000000     1.000000     1.000000   34208.000000   1703.000000
25%      29.000000     2.000000     2.000000   76850.250000   4849.500000
50%      41.000000     3.000000     3.000000   93327.500000   6507.000000
75%      54.250000     4.000000     4.000000  111558.000000   8026.000000
max      65.000000     5.000000     5.000000  179726.000000  11293.000000